@import url("common.css");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body {
    font-family: Source, sans-serif;
    background-color: white;
}

#competitions_selection, #horizontal_menu_days {
    background-color: rgb(223, 240, 216);
}

.statistic-home {
    background-color: yellowgreen;
}