@import url("common.css");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html, body {
    font-family: Source, sans-serif;
    background-color: white;
}

#competitions_selection, #horizontal_matches, #horizontal_menu_days, #horizontal_matches_header {
    background-color: rgb(223, 240, 216);
}

#horizontal_matches {
    background-color: white;
}

#horizontal_matches_header {
    height: 55px;
}

    #horizontal_matches_header .tab {
        padding: 0px 12px;
        height: 55px;
    }

    #horizontal_matches .nav-link {
        padding-top: 15px;
    }

.statistic-home {
    background-color: yellowgreen;
}