@import url("dystir.css");

html, body {
    font-family: Arial,sans-serif;
    background-color: white;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 370px;
}

body {
    color: black;
    overflow: hidden;
    background-color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: text;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    visibility: visible;
}

.main_container, .main_container_match_details {
    background-color: white;
}

.container {
    padding: 0;
}

.field_background {
    background-color: white;
    height: 150px;
}

#header {
    background-color: white;
}

.goal_icon, .owngoal_icon {
    color: white;
}


#main_share {
    position: absolute;
    background-color: #f9fafb;
    height: 100%;
    width: 100%;
}

#background_share {
    position: absolute;
    background-color: #f9fafb;
    height: 100%;
    width: 100%;
}

#header_container_share {
    background-color: white;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    min-width: 290px;
}

#container_share {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
}

#days_selection, #competitions_selection {
    background-color: white;
}

#horizontal_menu_days {
    background-color: white;
}

#competitions_selection {
    border-top: 0px solid lightgray;
    border-bottom: 0px solid lightgray !important;
    margin: 0;
    height: 50px;
}

#main_container_vertical_list, #main_container_vertical_list_standings {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 100px);
    margin: auto 0;
    font-size: 1rem;
    padding: 0 5px;
    width: 100%;
}

#main_container_vertical_list_standings {
    height: calc(100vh - 50px);
    background-color: white;
}

#scroll_button_left_bottom, #scroll_button_right_bottom {
    height: 40px;
    cursor: pointer;
    background-color: lightgray;
    color: gray;
    white-space: nowrap;
    float: left;
    text-align: center;
    width: 40px;
    visibility: hidden;
    border-radius: 20px;
    line-height: 40px;
    margin-top: 5px;
}

#scroll_button_left_bottom:hover, #scroll_button_right_bottom:hover {
    background-color: rgba(211,211,211,0.7);
}

#scroll_button_right_bottom {
    float: right;
}

#scroll_button_left, #scroll_button_right, #back_button {
    background-color: lightgray;
    color: gray;
    margin-top: 5px;
}

    #scroll_button_left:hover, #scroll_button_right:hover, #back_button:hover {
        background-color: rgba(211,211,211,0.7);
    }

#selected_match_details {
    border-top: 0px solid lightgray;
}

.match_details_item {
    background-color: white;
    margin: 0 5px;
    color: black;
}

#matches_same_day {
    border-bottom: 1px solid lightgray;

}

#matches_same_day_share {
    text-align: center;
    background-color: white;
}

    #matches_same_day_share a {
        text-decoration: none;
    }

.match_item_same_day_share {
    padding: 5px;
    border-radius: 3px;
    margin: 0;
    font-size: 13px !important;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.22) 0 0 0 0;
    background-color: #fff;
    color: black;
    border-bottom: 5px solid rgba(17,24,39,.05);
}

    .match_item_same_day_share:hover {
        background-color: white;
        color: black;
    }

.match_item_same_day {
    border: 1px solid #999999;
    background-color: white;
    color: black;
}

    .match_item_same_day:hover {
        background-color: white;
        color: black;
    }

.match_item_same_day_share_details {
    padding: 2px;
    border-radius: 0px;
    margin: 0;
    font-size: 12px !important;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.22) 0 0 2px 0;
    background-color: #fff;
    color: black;
}

    .match_item_same_day_share_details:hover {
        background-color: white;
        color: black;
    }

.selected_tab {
    color: cornflowerblue;
    border-bottom: 3px solid cornflowerblue;
}

    .selected_tab .nav-link {
        color: cornflowerblue;
    }

.score {
    color: white;
}

.score_match_view, .score_match_same_day {
    background-color: lightgray;
    color: black;
}

.score_match_view_for_list, .score_match_view_for_list_details {
    color: black;
    width: 25px;
    background-color: lightgray;
    color: black;
    border-radius: 4px;
    text-align: center;
}

.score_match_view_for_list {
    width: 30px;
    border-radius: 5px;
}

.match_info, .standings_cell {
    color: gray;
}

.text-white {
    color: black !important;
}

.standings_cell_team_name {
    color: black !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 25%;
    padding-left: 5px;
    font-weight: 600 !important;
}

.minutes_summary {
    color: darkorange;
}

.statistic-home {
    background-color: cornflowerblue;
}

.statistic-away {
    background-color: lightgray;
}

.tab {
    color: #999999;
    font-weight:700;
}

.big_chance {
    color: cornflowerblue;
}

.main_player {
    color: black;
}

.second_player, .owngoal_player {
    color: gray
}

.goal {
    color: black;
}

.penalty_missed {
    color: red;
}

.event_list_item {
    border-bottom: 1px lightgray solid;
}

.player-list-item {
    border-bottom: 1px lightgray solid;
}

.live_standings_team_number {
    background-color: lightgray;
}

.player_number, .player_name {
    color: black;
}

.goal_icon, .owngoal_icon {
    padding: 0.2rem;
}

.no-matches {
    line-height: 130px;
    height: 130px;
    background-color: white;
}

.matches_and_competition_selection {
    height: auto;
}

#main_container {
    height: calc(100vh - 140px);
}

.standings_cell_number {
    padding: 7px 0;
}

.match_item_same_day_team_name {
    text-overflow: clip;
}

#horizontal_menu_standings {
    white-space: nowrap;
    overflow: auto;
    float: left;
    width: 100%;
    text-align: center;
}

    #horizontal_menu_standings div {
        display: inline-block;
    }

#horizontal_menu_standings {
    height: 60px;
}