@using DystirWeb.Services
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.SignalR.Client;
@inject DystirService DystirService
@inject NavigationManager NavigationManager
@layout MainLayout
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div style="position:absolute; height:100%; width:100%">
    <img src="images/background/grass-background.png" style="height:100%; width:100%" />
</div>

<div class="sidebar">
    <NavMenuFootball />
</div>

<div class="header">
    <Header />
</div>

<div class="container-layout">
    @Body
</div>

<div class="sponsor-bar">
    <SponsorsView ShowOnSideBar="true" />
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadGoogleAnalytics", "170595956-1");
        }
    }
}






