<div @onclick="@(() => ToggleOnClick.InvokeAsync(""))">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa fa-futbol p-2" aria-hidden="true"></span>
                <span class="pl-2">DYSTIR</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="football/results">
                <span class="fa fa-futbol p-2" aria-hidden="true"></span>
                <span class="pl-2">ÚRSLIT</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="football/fixtures">
                <span class="fa fa-futbol p-2" aria-hidden="true"></span>
                <span class="pl-2">KOMANDI</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="football/standings">
                <span class="fas fa-table p-2" aria-hidden="true"></span>
                <span class="pl-2">STØÐAN</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="football/statistics">
                <span class="fas fa-clipboard-list p-2" aria-hidden="true"></span>
                <span class="pl-2">HAGTØL</span>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    [Parameter] public EventCallback ToggleOnClick { get; set; }
}