################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
**/bin
**/obj

**/packages
/DystirWeb/.vs/DystirWeb/v15/Server/sqlite3/storage.ide-wal
/DystirWeb/.vs/DystirWeb/v15/Server/sqlite3/storage.ide-shm
/DystirWeb/.vs/DystirWeb/v15/Server/sqlite3/storage.ide
/DystirWeb/.vs/DystirWeb/v15/Server/sqlite3/db.lock
/DystirWeb/.vs
/DystirWeb/DystirWeb/bin
/DystirWeb/DystirWeb/obj
/.vs
/DystirXamarin/DystirXamarin/DystirXamarin.Android/bin
/DystirXamarin/DystirXamarin/DystirXamarin.Android/obj
/DystirXamarin/DystirXamarin/DystirXamarin.UWP/bin
/DystirXamarin/DystirXamarin/DystirXamarin.UWP/obj
/DystirXamarin/DystirXamarin/DystirXamarin.iOS/bin
/DystirXamarin/DystirXamarin/DystirXamarin.iOS/obj
/DystirXamarin/.vs/DystirXamarin/v15
/DystirXamarin/.vs/DystirXamarin/v15/Server/sqlite3
/DystirXamarin/DystirXamarin/DystirXamarin/bin
/DystirXamarin/DystirXamarin/DystirXamarin/obj
/DystirXamarin/.vs
/Dystir/Dystir/Dystir.Android/bin
/Dystir/Dystir/Dystir.Android/obj
/Dystir/Dystir/Dystir.UWP/bin
/Dystir/Dystir/Dystir.UWP/obj
/Dystir/Dystir/Dystir.iOS/bin
/Dystir/Dystir/Dystir.iOS/obj
/Dystir/.vs/Dystir/v16
/Dystir/.vs/Dystir/v16/Server/sqlite3
/Dystir/Dystir/Dystir/bin
/Dystir/Dystir/Dystir/obj
/Dystir/.vs
/Dystir/.vs/Dystir
/Dystir/.vs/Dystir/v16/Server/sqlite3/storage.ide-wal
/Dystir/.vs/Dystir/v16/Server/sqlite3/storage.ide-shm
/Dystir/.vs/Dystir/v16/Server/sqlite3/storage.ide
/Dystir/.vs/Dystir/v16/Server/sqlite3/db.lock
/DystirWebDark/.vs/DystirWeb/v16/Server/sqlite3/storage.ide-wal
/DystirWebDark/.vs/DystirWeb/v16/Server/sqlite3/storage.ide-shm
/DystirWebDark/.vs/DystirWeb/v16/Server/sqlite3/storage.ide
/DystirWebDark/.vs/DystirWeb/v16/Server/sqlite3/db.lock
/DystirWebDark/.vs/DystirWeb/v16/Server/sqlite3
/DystirWebDark/.vs
/DystirWebDark/DystirWeb/bin
/DystirWebDark/DystirWeb/obj
/DystirManager/DystirManager/DystirManager.Android/bin
/DystirManager/DystirManager/DystirManager.Android/obj
/DystirManager/DystirManager/DystirManager.UWP/bin
/DystirManager/DystirManager/DystirManager.UWP/obj
/DystirManager/DystirManager/DystirManager.iOS/bin
/DystirManager/DystirManager/DystirManager.iOS/obj
/DystirManager/.vs/DystirManager/v16
/DystirManager/.vs/DystirManager/v16/Server/sqlite3
/DystirManager/DystirManager/DystirManager/bin
/DystirManager/DystirManager/DystirManager/obj
/DystirManager/.vs
/DystirManager/.vs/DystirManager
/DystirManager/.vs/DystirManager/v16/Server/sqlite3/storage.ide-wal
/DystirManager/.vs/DystirManager/v16/Server/sqlite3/storage.ide-shm
/DystirManager/.vs/DystirManager/v16/Server/sqlite3/storage.ide
/DystirManager/.vs/DystirManager/v16/Server/sqlite3/db.lock
*.bin
.DS_Store
DystirAppOld/.DS_Store
DystirAppOld/Dystir/.DS_Store
