<div id="header" class="navbar">
    <table>
        <tr>
            @if (page.Equals("dimma", StringComparison.CurrentCultureIgnoreCase))
            {
                <td style="text-align:left;width:600px">
                    <a style="text-decoration:none;" href="https://www.dimma.fo" target="_blank">
                        <img src="https://www.dimma.fo/assets/dimmalaetting.png" style="height: 45px;margin:auto 20px;" />
                    </a>
                </td>
            }
            else if (page.Equals("info", StringComparison.CurrentCultureIgnoreCase))
            {
                <td style="text-align:left;width:600px">
                    <a style="text-decoration:none;" href="https://www.in.fo" target="_blank">
                        <img src="https://in.fo/fileadmin/templates/ext/bootstrap_package/Resources/Public/Images/logo/info-logo.svg" style="height: 45px;margin:auto 20px;" />
                    </a>
                </td>
            }
            else if (page.Equals("portal", StringComparison.CurrentCultureIgnoreCase))
            {
                <td style="text-align:left;width:600px">
                    <a style="text-decoration:none;" href="https://portal.fo" target="_blank">
                        <img src="https://e02e3c2e19a06eec1e84-9a0707245afee0d6f567aa2987845a0f.ssl.cf1.rackcdn.com/myfiles/1385390388_portal_favicon.ico" style="height: 45px;margin:auto 20px;" />
                    </a>
                </td>
            }
            <td style="text-align:right;width:600px">
                <a style="text-decoration:none;" href="https://www.dystir.fo" target="_blank">
                    <img src="https://www.dystir.fo/images/icons/dystir_icon.png" style="height:50px;margin:auto 20px; border-radius:10px;" />
                </a>
            </td>
        </tr>
    </table>
</div>


@code {
    [Parameter]
    public string page { get; set; }
}

