<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AppCenter" version="3.4.1" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="3.4.1" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="3.4.1" targetFramework="xamarinios10" />
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="5.0.0-preview.3.20215.14" targetFramework="xamarinios10" />
  <package id="Microsoft.AspNetCore.Http.Connections.Client" version="5.0.0-preview.3.20215.14" targetFramework="xamarinios10" />
  <package id="Microsoft.AspNetCore.Http.Connections.Common" version="5.0.0-preview.3.20215.14" targetFramework="xamarinios10" />
  <package id="Microsoft.AspNetCore.Http.Features" version="5.0.0-preview.3.20215.14" targetFramework="xamarinios10" />
  <package id="Microsoft.AspNetCore.SignalR.Client" version="5.0.0-preview.3.20215.14" targetFramework="xamarinios10" />
  <package id="Microsoft.AspNetCore.SignalR.Client.Core" version="5.0.0-preview.3.20215.14" targetFramework="xamarinios10" />
  <package id="Microsoft.AspNetCore.SignalR.Common" version="5.0.0-preview.3.20215.14" targetFramework="xamarinios10" />
  <package id="Microsoft.AspNetCore.SignalR.Protocols.Json" version="5.0.0-preview.3.20215.14" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Configuration" version="5.0.0-preview.3.20215.2" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0-preview.3.20215.2" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="5.0.0-preview.3.20215.2" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.0-preview.3.20215.2" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0-preview.3.20215.2" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0-preview.3.20215.2" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0-preview.3.20215.2" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Options" version="5.0.0-preview.3.20215.2" targetFramework="xamarinios10" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0-preview.3.20215.2" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.ComponentModel.Annotations" version="5.0.0-preview.3.20214.6" targetFramework="xamarinios10" />
  <package id="System.IO.Pipelines" version="5.0.0-preview.3.20214.6" targetFramework="xamarinios10" />
  <package id="System.Memory" version="4.5.4" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-preview.3.20214.6" targetFramework="xamarinios10" />
  <package id="System.Text.Encodings.Web" version="5.0.0-preview.3.20214.6" targetFramework="xamarinios10" />
  <package id="System.Text.Json" version="5.0.0-preview.3.20214.6" targetFramework="xamarinios10" />
  <package id="System.Threading.Channels" version="5.0.0-preview.3.20214.6" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.LatestVersion" version="2.0.0-beta.76" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.5.3.2" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.8.0.1451" targetFramework="xamarinios10" />
</packages>