@inherits LayoutComponentBase

<link href="css/mobile_client.css?v=100" rel="stylesheet" />

<div id="main">
    <div id="background">
        <div id="container">
            @Body
        </div>
    </div>
</div>




