@import 'site.css';

.header, .sidebar, .sponsor-bar, .match-group-competition-name, .selected_tab, .statistic-home {
    background-color: #00326f;
}

.handball-icon {
    height: 6vw;
    max-height: 35px;
    min-height: 25px;
}

.football-icon, .volleyball-icon {
    height: 4.5vw;
    max-height: 25px;
    min-height: 17px;
}

.handball-text {
    font-weight: bold;
}

.football-text, .volleyball-text {
    font-weight: normal;
}