@import url("common.css");

html, body {
    font-family: Arial,sans-serif;
    background-color: white;
}

#competitions_selection, #horizontal_menu_days {
    background-color: rgba(17,24,39,.05);
}

.statistic-home {
    background-color: cornflowerblue;
}
