@using DystirWeb.Services
@inject DystirWebClientService DystirWebClientService
@inherits LayoutComponentBase
@implements IDisposable

<div id="main">
    <div id="background">

        <div id="header_container">
            <Header />
        </div>

        <div id="container">
            @Body
        </div>

    </div>
</div>


@if (!IsDystirHubConnected)
{
    <div class="loading-spinner-parent">
        <i class="fas fa-spin fa-spinner fa-2x" style="color: darkgrey"></i>
    </div>
}

@code {

    public bool IsDystirHubConnected = true;

    protected override async Task OnInitializedAsync()
    {
        DystirWebClientService.OnConnected += HubConnection_OnConnected;
        DystirWebClientService.OnDisconnected += HubConnection_OnDisconnected;
        _ = JSRuntime.InvokeVoidAsync("setTitle", "Dystir");
        _ = JSRuntime.InvokeVoidAsync("setFavicon", "favicon.ico");
        _ = JSRuntime.InvokeVoidAsync("loadGoogleAnalytics", "170595956-1");
        _ = DystirWebClientService.StartUpAsync();
        await Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        DystirWebClientService.OnConnected -= HubConnection_OnConnected;
        DystirWebClientService.OnDisconnected -= HubConnection_OnDisconnected;
    }

    private async void HubConnection_OnConnected()
    {
        IsDystirHubConnected = true;
        Refresh();
        await Task.CompletedTask;
    }

    private async void HubConnection_OnDisconnected()
    {
        IsDystirHubConnected = false;
        Refresh();
        await Task.CompletedTask;
    }

    private void Refresh()
    {
        InvokeAsync(() => StateHasChanged());
    }
}






