@using DystirWeb.Services
@using Microsoft.AspNetCore.Components
@inject DystirService DystirService
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase
 
<title>Info - dystir</title> 
<link href="css/site.css?v=4" rel="stylesheet" />  
<link href="css/info_site.css?v=1" rel="stylesheet" />

<div class="container-layout">
    @Body
</div>

@code {

}






