@import "dystir_main_style.css";

body {
    background-color: #f9fafb;
    font-family: Montserrat,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    user-select: none;
    color: black;
}

#main_share {
    position: absolute;
    background-color: #f9fafb;
    height: 100%;
    width: 100%;
}

#background_share {
    position: absolute;
    background-color: #f9fafb;
    height: 100%;
    width: 100%;
}

#header_container_share {
    background-color: white;
    width: 100%;
    height: 90px;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    min-width: 290px;
}

#container_share {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
}

#horizontal_menu_days {
    height: 50px;
    border-top: 0px solid lightgray;
    border-bottom: 0px solid lightgray;
    background-color: rgba(17,24,39,.05);
    margin: 0;
}

#competitions_selection {
    background-color: rgba(17,24,39,.05);
    border-top: 0px solid lightgray;
    border-bottom: 0px solid lightgray;
    margin: 0;
    height: 50px;
}

#horizontal_menu_wrapper {
    height: 50px;
}

#scroll_button_left, #scroll_button_right, #back_button {
    background-color: lightgray;
    color: gray;
    margin-top: 5px;
}

    #scroll_button_left:hover, #scroll_button_right:hover, #back_button:hover {
        background-color: rgba(211,211,211,0.7);
    }

#selected_match_details {
    border-top: 1px solid lightgray;
}

.match_details_item {
    background-color: white;
    margin: 0 5px;
    color: black;
}

#matches_same_day {
    border-bottom: 1px solid lightgray;
}

#matches_same_day_share {
    text-align: center;
    padding-top: 5px;
    background-color: white;
}

    #matches_same_day_share a {
        text-decoration: none;
    }

.match_item_same_day_share {
    padding: 2px;
    border-radius: 3px;
    margin: 0;
    font-size: 0.8rem;
    width: calc(20% - 4px);
    display: inline-block;
    border: 1px solid #999999;
    background-color: white;
    color: black;
    max-width:400px;
}

    .match_item_same_day_share:hover {
        background-color: white;
        color: black;
    }

.match_item_same_day {
    border: 1px solid #999999;
    background-color: white;
    color: black;
}

    .match_item_same_day:hover {
        background-color: white;
        color: black;
    }

.score {
    color: white;
}

.score_match_view, .score_match_same_day {
    background-color: #999999;
    color: white;
}

.match_info, .standings_cell {
    color: gray;
}

.standings_cell_team_name, .text-white {
    color: black !important;
}

.minutes_summary {
    color: darkorange;
}

.statistic-home {
    background-color: cornflowerblue;
}

.statistic-away {
    background-color: lightgray;
}

.tab {
    color: #999999;
    margin: 15px 8px 0 8px;
    font-weight:700;
}

.selected_tab {
    color: black;
}

.big_chance {
    color: cornflowerblue;
}

.main_player {
    color: black;
}

.second_player, .owngoal_player {
    color: gray
}

.goal {
    color: black;
}

.penalty_missed {
    color: red;
}

.event_list_item {
    border-bottom: 1px lightgray solid;
}

.player-list-item {
    border-bottom: 1px lightgray solid;
}

.live_standings_team_number {
    background-color: lightgray;
}

.player_number, .player_name {
    color: black;
}

.goal_icon, .owngoal_icon {
    padding: 0.2rem;
}

.no-matches {
    line-height: 130px;
    height: 130px;
    background-color: white;
}