body {
    /*background-image: url('../images/background/grass-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    background-color: #181818;
}

.header, .sidebar, .sponsor-bar {
    background-color: #181818;
}

.selected_tab, .statistic-home {
    background-color: #2F4F2F;
}

.football-icon {
    height: 6vw;
    max-height: 35px;
    min-height: 25px;
}

.handball-icon, .volleyball-icon {
    height: 4.5vw;
    max-height: 25px;
    min-height: 17px;
}

.football-text {
    font-weight: bold;
}

.handball-text, .volleyball-text {
    font-weight: normal;
}

.live-standing-team {
    border: 2px solid darkkhaki;
    border-radius: 8px;
}

.live-standing-text {
    color: white;
}
