#main_container_mobile_client, #match_details_container_mobile_client {
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto 0;
    font-size: 1rem;
    padding: 0 5px;
    width: 100%;
}

#main_mobile_client {
    position: absolute;
    background-color: #181818;
    height: 100%;
    width: 100%;
}

#background_mobile_client {
    position: absolute;
    background-color: #181818;
    height: 100%;
    width: 100%;
}

#container_mobile_client {
    margin: 0 auto;
}

#header_container_mobile_client {
    height: 50px;
    border-bottom: 1px solid dimgray;
}

