#main_container_mobile_client, #match_details_container_mobile_client {
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto 0;
    font-size: 1rem;
    padding: 0 5px;
    width: 100%;
}

#main_mobile_client {
    position: absolute;
    background-color: #181818;
    height: 100%;
    width: 100%;
}

#background_mobile_client {
    position: absolute;
    background-color: #181818;
    height: 100%;
    width: 100%;
}

#container_mobile_client {
    margin: 0 auto;
}

#header_container_mobile_client {
    height: 50px;
    background-color: #374E32;
}

#foother_menu_mobile_client {
    height: 60px;
    position: fixed;
    left: 5px;
    right: 5px;
    bottom: 0;
    background-color: #374E32;
}

#horizontal_foother_menu {
    display: flex;
    height: 60px;
    text-align: center;
    justify-content: center;
    background-color: #374E32;
}

    #horizontal_foother_menu .tab {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 20%;
        margin: 20px 0 0 0;
    }

    #horizontal_foother_menu .selected_tab {
        color:white;
        font-weight:700;
    }

#horizontal_menu_mobile_client {
    white-space: nowrap;
    overflow: auto;
    float: left;
    width: calc(100% - 80px);
    text-align: center;
}