@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

html, body {
    font-family: 'Play', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 0.9rem;
    min-width: 360px;
}

body {
    overflow: hidden;
    user-select: none;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-dark {
    background-color: dimgray;
}

app {
    display: flex;
    flex-direction: column;
}

.top-row {
    border-bottom: 2px solid dimgray;
    display: flex;
    align-items: center;
    height: 70px;
}

.main {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-layout {
    background-color: rgba(34, 34, 34, 0.9);
    position: absolute;
    top: 70px;
    left: 220px;
    right: 220px;
    bottom: 0;
    border-right: 2px solid dimgray;
    border-left: 2px solid dimgray;
}

.container-layout-share {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
}

.header {
    z-index: 3000;
    opacity: 0.97;
    position: fixed;
    top: 0;
    left: 220px;
    right: 0;
    height: 70px;
    border-bottom: 2px solid dimgray;
}

.football-icon, .handball-icon, .volleyball-icon {
    height: 4.5vw;
    max-height: 25px;
    min-height: 17px;
}

.football-text, .handball-text, .volleyball-text {
    font-weight: normal;
}

.matches_container {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

.row {
    margin: 0;
}

.sidebar {
    z-index: 2000;
    opacity: 0.97;
    position: fixed;
    width: 100%;
}

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding: 0 0.5rem 0.5rem 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 0.5rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 0.5rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.sponsor-bar {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    width: 220px;
    top: 70px;
    right: 0;
    opacity: 0.97;
    bottom: 0;
}

    .sponsor-bar .nav-item {
        font-size: 0.9rem;
        padding: 0 0.5rem 0.5rem 0.5rem;
    }

.sponsors_below_matches {
    display: none;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.table {
    table-layout: fixed;
    white-space: nowrap;
    margin: 0;
}

    .table td {
        border-top: 0;
        text-overflow: clip;
        white-space: nowrap;
        overflow: hidden;
        padding: 0;
        vertical-align: middle;
    }

.match-group-competition-name {
    margin: 0.3rem 0;
    padding: 0.2rem;
    color: darkgray;
    text-align: center;
}

.match_item {
    width: 100%;
    color: white;
    padding: 0 0.5rem;
}

.match_item_border {
    border-bottom: 0.1rem #404040 solid;
    padding-bottom: 0.5rem;
}

.match_info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    color: #a6a6a6;
}

.match_item_teams_name {
    text-align: center;
    font-weight: bold;
    color: white;
}

.match_time {
    color: khaki;
}

.match_item_text_color {
    text-align: center;
    color: white;
}

.tab {
    padding: 0;
    background-color: rgba(105,105,105,0.9);
    color: white;
    font-size: 0.7rem;
    height: 2rem
}

.selected_tab-layout {
    padding: 8px 5px;
    text-align: center;
    border-right: 2px solid black;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.summary_main_table, .commentary_main_table, .lineups {
    text-align: center;
    margin: 0 auto;
    color: white;
}

.event-list-item {
    width: 100%;
    text-align: center;
    border-bottom: 1px #404040 solid;
    padding: 3px 10px
}

.event_time {
    color: khaki;
    padding: 2px 0;
}

.player_of_the_match {
    color: darkorange;
    padding: 2px 0;
}

.big_chance {
    color: lightblue;
}

.score {
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    padding: 0 7px;
}

.main_player {
    color: white;
}

.second_player, .owngoal_player {
    color: #a6a6a6
}

.goal {
    color: white;
}

.penalty_missed {
    color: red;
}

.yellow_card {
    font-weight: bold;
    color: gold;
    background-color: gold;
    padding: 0 1px;
    margin: 0 5px
}

.red_card {
    font-weight: bold;
    color: red;
    background-color: red;
    padding: 0 1px;
    margin: 0 5px
}

.player_name {
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.player_number {
    color: khaki;
}

.match_details_view {
    color: white;
}

.statistic-home, .statistic-away {
    height: 18px;
    color: white;
}

.statistic-away {
    background-color: darkkhaki;
}

.statistic_table {
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.statistic_text {
    margin: 10px auto 5px auto;
}

.statistic_cell {
    text-overflow: ellipsis;
    width: 30px;
    white-space: normal;
    overflow: hidden;
    padding: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.active_tab {
    display: block;
}

.no_active_tab {
    display: none;
}

.player-list-item {
    width: 100%;
    text-align: left;
    border-bottom: 1px #404040 solid;
    padding: 3px
}

.nav-link {
    padding: 0;
}

.navbar {
    padding: 0 0.3rem 0 1rem;
}

.sponsors, .news {
    padding: 0 10px;
    text-align: center;
}

.sponsors-main-img {
    height: 2.4rem;
    margin: 10px 0;
    border-radius: 7px;
    border: 1px #222222 solid
}

.sponsors-img {
    height: 1.8rem;
    margin: 10px 0;
    border-radius: 7px;
    border: 1px #222222 solid;
}

.news {
    padding: 10px 7px 5px 7px;
    text-align: left;
    color: #a6a6a6;
    border-bottom: 2px #404040 solid;
    margin: 7px 0;
}

.statistics-title {
    display: table-cell;
    text-align: center;
    width: 50%;
    line-height: 30px;
    color: darkkhaki;
}

.statistics-border {
    border-top: 2px solid darkkhaki;
}

.statistics-goal, .statistics-asist {
    width: 2.5rem;
    vertical-align: middle;
    text-align: center;
    color: darkkhaki;
}

.statistics-number, .standings-number {
    width: 2.5rem;
    text-align: center;
    vertical-align: middle;
    color: gray;
}

.standings-header {
    border-bottom: 1px solid darkgray;
    color: dimgray;
}

.standings-cell {
    text-align: right;
    width: 30px;
}

.no-matches {
    line-height: 100px;
    text-align: center;
    color: dimgray;
    height: 100px;
    border-bottom: 0.1rem #404040 solid;
}

.store-buttons {
    width: 220px;
    text-align: center;
}

.no-connection {
    position: absolute;
    z-index: 2000;
    display: none;
}

.matches_list_same_day {
    background-color: #333;
    padding: 0 3px;
    text-align: left;
}

    .matches_list_same_day a {
        display: inline-block;
        color: white;
        text-align: center;
        padding-bottom: 4px;
        text-decoration: none;
    }

.container-match-details {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.box {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-scroll {
    flex: 1;
    position: relative;
    text-align: center;
}

.loading-spinner-parent {
    position: fixed;
    top: calc(50% - 1.3rem);
    left: calc(50% - 1.3rem);
}

.loading-spinner {
    width: 2.6rem;
}

/*-----------------------*/
/* MOBILE FRIENDLY STYLE */
/*-----------------------*/
@media (max-width: 767.98px) {
    .container-layout {
        left: 0;
        width: 100%;
    }

    .sponsor-bar {
        display: none;
    }

    .sponsors_below_matches {
        display: block;
    }

    .navbar-brand {
        display: none;
    }

    .store-buttons {
        width: auto;
    }
}


@media (min-width: 768px) {

    .sidebar {
        width: 220px;
        height: 100vh;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        display: block;
    }

    .sponsor-bar .collapse {
        display: block;
    }

    .sponsors_below_matches {
        display: none;
    }
}

@media (min-width: 800px) {
    html {
        font-size: 1.0rem;
    }
}

@media (min-width: 1000px) {
    html {
        font-size: 1.1rem;
    }
}

/*-----------------------*/
/*  FOOTBALL SITE STYLE  */
/*-----------------------*/
.header, .sidebar, .sponsor-bar, .match-group-competition-name, .selected_tab, .statistic-home {
    background-color: #2F4F2F;
}

.football-icon {
    height: 6vw;
    max-height: 35px;
    min-height: 25px;
}

.handball-icon, .volleyball-icon {
    height: 4.5vw;
    max-height: 25px;
    min-height: 17px;
}

.football-text {
    font-weight: bold;
}

.handball-text, .volleyball-text {
    font-weight: normal;
}


/*-----------------------*/
/*  ERROR MESSAGES  */
/*-----------------------*/
.my-reconnect-modal > div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
}

.components-reconnect-hide > div {
    display: none;
}

.components-reconnect-show > div {
    display: none;
}

.components-reconnect-show > .show {
    display: block;
}

.components-reconnect-failed > div {
    display: none;
}

.components-reconnect-failed > .failed {
    display: block;
}

.components-reconnect-rejected > div {
    display: none;
}

.components-reconnect-rejected > .rejected {
    display: block;
}
