<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="2024.0.0" package="dystirmanager.dystirmanager" android:installLocation="auto" android:versionCode="62">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application android:label="Dystir Manager" android:icon="@drawable/dystir_manager_icon"></application>
</manifest>