<div id="scroll_button_left" onclick="scrollOnMouseOver('left')">
    &#10094;
</div>
<div id="horizontal_menu">
    <div id="horizontal_menu_wrapper">
        @foreach (var tab in TabList ?? new List<string>())
        {
            <div class="tab @(SelectedTab == tab ? "selected_tab" : "")" @onclick="(() => SetSelectedTab(tab))">
                <span>@(tab)</span>
            </div>
        }
    </div>
</div>
<div id="scroll_button_right" onclick="scrollOnMouseOver('right')">
    &#10095;
</div>

@code {
    [Parameter]
    public EventCallback<string> TabOnClick { get; set; }

    [Parameter]
    public List<string> TabList { get; set; }

    [Parameter]
    public string SelectedTab{ get; set; }

    private void SetSelectedTab(string tab)
    {
        SelectedTab = tab;
        TabOnClick.InvokeAsync(tab);
    }
}
