<div id="scroll_button_left" onclick="scrollOnMouseOver('left')">
    &#10094;
</div>
<div id="horizontal_menu">
    <div id="horizontal_menu_wrapper">
        @foreach (var competition in CompetitionsList ?? new List<string>())
        {
            <div class="tab @(SelectedCompetition == competition ? "selected_tab" : "")" @onclick="(() => SelectCompetition(competition))">
                <span>@competition</span>
            </div>
        }
    </div>
</div>
<div id="scroll_button_right" onclick="scrollOnMouseOver('right')">
    &#10095;
</div>

@code {
    [Parameter]
    public EventCallback<string> CompetitionsOnClick { get; set; }

    [Parameter]
    public List<string> CompetitionsList { get; set; }

    [Parameter]
    public string SelectedCompetition { get; set; }


    private void SelectCompetition(string competition)
    {
        SelectedCompetition = competition;
        CompetitionsOnClick.InvokeAsync(competition);
    }
}
