
@foreach (SummaryEventOfMatch summaryEventOfMatch in Commentaries ?? new List<SummaryEventOfMatch>())
{
    <table class="event_list_item summary_main_table">
        <tr>
            <td>
                <table class="summary_main_table">
                    <tr>
                        <SummaryEventView SummaryEventOfMatch="@summaryEventOfMatch" />
                    </tr>
                </table>
                @if (summaryEventOfMatch.EventName == "GOAL" || summaryEventOfMatch.EventName == "OWNGOAL" || summaryEventOfMatch.EventName == "PENALTYSCORED")
                {
                    <div>
                        <div class="score d-inline-block">@summaryEventOfMatch.HomeTeamScore</div>
                        <div class="d-inline-block">:</div>
                        <div class="score d-inline-block">@summaryEventOfMatch.AwayTeamScore</div>
                    </div>
                }
                <div class="summary_event text-center w-100">@summaryEventOfMatch.EventOfMatch.EventText?.Replace("..", ".")</div>
            </td>
        </tr>
    </table>
}


@code {
    [Parameter]
    public List<SummaryEventOfMatch> Commentaries { get; set; }
}
