
@foreach (SummaryEventOfMatch summaryEventOfMatch in Commentaries ?? new List<SummaryEventOfMatch>())
{
    <table class="event_list_item summary_main_table">
        <tr>
            <td>
                <table class="summary_main_table">
                    <tr>
                        <SummaryEventView SummaryEventOfMatch="@summaryEventOfMatch" />
                    </tr>
                </table>
                <div class="summary_event text-center w-100">@summaryEventOfMatch.EventOfMatch.EventText</div>
            </td>
        </tr>
    </table>
}


@code {
    [Parameter]
    public List<SummaryEventOfMatch> Commentaries { get; set; }
}
