<div class="navbar navbar-dark p-0">
    <div class="store-buttons">
        <span style="padding-left:10px">
            <a href='https://play.google.com/store/apps/details?id=fo.Dystir&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img alt='Get it on Google Play' height="48" src="images/icons/google-play-square.png" />
            </a>
        </span>
        <span style="padding:0 5px 0 10px">
            <a href='https://apps.apple.com/us/app/dystir/id1460781430?ls=1'>
                <img alt='Download on Apple Store' height="48" src="images/icons/apple-store-square.png" />
            </a>
        </span>
    </div>

    <div class="top-row pr-4 navbar navbar-dark">
        <a class="navbar-brand" href="">
            <img src="images/icons/dystir-header-icon.png" height="45" />
        </a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <div class="@NavMenuReverseCssClass navbar-toggler-icon toggle-button"></div>
            <div class="@NavMenuCssClass toggle-button">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </button>
    </div>
</div>

<div class="sidebar" @onclick="ToggleNavMenu">
    <NavMenuFootball CollapseMenuClass="@NavMenuCssClass" />
</div>

@code {

    private bool collapseNavMenu = true;

    public string NavMenuCssClass => collapseNavMenu ? "collapse" : "";

    public string NavMenuReverseCssClass => collapseNavMenu ? "" : "collapse";

    public void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

