@using DystirWeb.Shared

@if (PlayersOfMatch != null)
{
    <table class="lineups content_table">
        <tr>
            <td style="text-align:center;vertical-align:top;padding:5px 0">
                @foreach (PlayersOfMatches player in PlayersOfMatch?.Where(x => x.TeamName.Trim() == Match?.HomeTeam.Trim() && x.PlayingStatus == 1))
                {
                    <PlayerView Player="player" />
                }
            </td>
            <td style="text-align:center;vertical-align:top;padding:5px 0">
                @foreach (PlayersOfMatches player in PlayersOfMatch?.Where(x => x.TeamName.Trim() == Match?.AwayTeam.Trim() && x.PlayingStatus == 1))
                {
                    <PlayerView Player="player" />
                }
            </td>
        </tr>
        @if (PlayersOfMatch?.Count(x => x.PlayingStatus == 1 || x.PlayingStatus == 2) > 0)
        {
            <tr>
                <td>
                    <div class="lineups_subs_line" />
                </td>
                <td>
                    <div class="lineups_subs_line" />
                </td>
            </tr>
        }
        <tr>
            <td style="text-align:center;vertical-align:top;padding:5px 0">
                @foreach (PlayersOfMatches player in PlayersOfMatch?.Where(x => x.TeamName.Trim() == Match?.HomeTeam.Trim() && x.PlayingStatus == 2))
                {
                    <PlayerView Player="player" />
                }
            </td>
            <td style="text-align:center;vertical-align:top;padding:5px 0">
                @foreach (PlayersOfMatches player in PlayersOfMatch?.Where(x => x.TeamName.Trim() == Match?.AwayTeam.Trim() && x.PlayingStatus == 2))
                {
                    <PlayerView Player="player" />
                }
            </td>
        </tr>
    </table>
}

@code {

    [Parameter]
    public List<PlayersOfMatches> PlayersOfMatch { get; set; }

    [Parameter]
    public Matches Match { get; set; }
}
