<div id="navigation_menu" class="@CollapseMenuClass">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="@NavLinkMatch">
                <span>DYSTIR</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="football/results">
                <span>ÚRSLIT</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="football/fixtures">
                <span>KOMANDI</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="football/standings">
                <span>STØÐAN</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="football/statistics">
                <span>HAGTØL</span>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    [Parameter]
    public string CollapseMenuClass { get; set; }

    [Parameter]
    public NavLinkMatch NavLinkMatch { get; set; }
}