@inherits LayoutComponentBase

@Body

@if (!IsDystirHubConnected)
{
    <div class="loading-spinner-parent">
        <i class="fas fa-spin fa-spinner fa-2x" style="color: darkgrey"></i>
    </div>
}

@code {

    public bool IsDystirHubConnected = true;

    protected override async Task OnInitializedAsync()
    {
        DystirWebClientService.OnFullDataLoaded += DystirWebClientService_FullDataLoaded;
        DystirWebClientService.OnConnected += HubConnection_OnConnected;
        DystirWebClientService.OnDisconnected += HubConnection_OnDisconnected;
        _ = DystirWebClientService.StartUpAsync();
        await Task.CompletedTask;
    }

    private async void DystirWebClientService_FullDataLoaded()
    {
        IsDystirHubConnected = false;
        Refresh();
        await Task.CompletedTask;
    }

    private async void HubConnection_OnConnected()
    {
        IsDystirHubConnected = true;
        Refresh();
        await Task.CompletedTask;
    }

    private async void HubConnection_OnDisconnected()
    {
        IsDystirHubConnected = false;
        Refresh();
        await Task.CompletedTask;
    }

    private void Refresh()
    {
        InvokeAsync(() => StateHasChanged());
    }
}

